/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "themes/variables";

*:not(.glyphicon):not(.fa) {
  font-family: $opensans $imp;
}
table {
  th {
    &.col-1 {
      width: 10%;
    }
    &.col-2,
    &.col-3,
    &.col-4 {
      width: 30%;
    }
  }
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
.sortables {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  span:first-child {
    position: absolute;
    top: 0;
  }
  span:last-child {
    position: absolute;
    bottom: 0;
  }
  span {
    color: lightgray;
    font-size: 18px;
  }
  span:hover {
    color: #002a80;
  }
}
