<div class="col-md-12 col-lg-12">
    <table class="table table-bordered" infinite-scroll="loadMore()" infinite-scroll-distance="1">
        <tr>
            <th class="col-1">#</th>
            <th class="col-2">
                <div class="sortables">
                    <span ng-click="order = 'name'" class="fa fa-sort-asc"></span>
                    <span ng-click="order = '-name'" class="fa fa-sort-desc"></span>
                </div>
                Name
            </th>
            <th class="col-3">
                <div class="sortables">
                    <span ng-click="order = 'email'" class="fa fa-sort-asc"></span>
                    <span ng-click="order = '-email'" class="fa fa-sort-desc"></span>
                </div>
                Email
            </th>
            <th class="col-4">Phone</th>
        </tr>
        <tr ng-repeat="person in filteredPersons = contacts.persons" ng-style="{
            'background-color': person.email == contacts.selectedPerson.email ? 'lightgray' : ''
          }" ui-sref="edit({email: person.email})">
            <!-- the filter with parameters -->
            <td><img ng-src="{{person.photo | defaultImage:'./images/avatar.jpg' }}" class="img-circle profile-photo" alt=""></td>
            <td>
              {{ person.name }}
            </td>
            <td>{{ person.email }}</td>
            <td>{{ person.phonenumber }}</td>
            </tr>
    </table>
    <div ng-show="contacts.persons.length == 00 && !contacts.isLoading">
        <div class="alert alert-info">
            <p class="text-center">
                No results find for search term '{{search}}'
            </p>
        </div>
    </div>
    <div ng-show="contacts.isLoading;" class="spinner">
        <span us-spinner="{radius: 8, width: 5, length: 3, lines: 9}"></span>
        <p>Loading</p>
    </div>
</div>
